h1 {
  color: blue;
  font-size: 50px;
}
.logo {
  text-align: center;
}
.logo img {
  height: 80px;
  border-radius: 50%;
  padding-top: 5px;
}
ul {
  list-style-type: decimal-leading-zero;
  line-height: 50px;
}
h2 {
  font-style: italic;
  color: red;
}
.main{
  text-align: center;
  background-color: grey;
  }
.main a {
  color: whitesmoke;
  text-decoration: none;
  height: 40px;
  line-height: 40px;
  margin-left: 20px;
}